/*variables*/

$color-principal: #6f42c1;
$fondo-normal: #f3e8ff;
$color-urgente: #dc3545;
$fondo-urgente: #f8d7da;
$color-titulo: #c142bb;
$color-urgente-titulo: #740c16;
$radio: 8px;
$espacio-base: 0.5rem;